<%= form_with url: users_backoffice_search_path, local: true, class: "d-flex navbar-form ms-auto", method: :get do |form| %>
  <div class="form-group me-2">
    <%= form.text_field :term, class: "form-control", placeholder: "type to search..." %>
  </div>
  <div class="form-group me-2">
    <%= form.select :subject_id, options_for_select(Subject.all.collect { |s| [s.description, s.id] }, selected: params[:subject_id]), { include_blank: 'Choose a subject' }, class: "form-select" %>
  </div>
  <button type="submit" class="btn btn-success my-2 my-sm-0">Search</button>
<% end %>
<br>

<% @questions.each do |question| %>
  <%= form_with url: users_backoffice_answer_path, local: true, data: { turbo: false } do |form| %>
    <div class="card mb-4">
      <div class="card-header">
        <h3 class="card-title">
          <span class="badge bg-info">
            <%= link_to "#{question.subject.description} (#{question.subject.questions.count})", users_backoffice_search_subject_path(question.subject_id) %>
          </span>
          <%= question.description %>
        </h3>
      </div>
      <div class="card-body">
        <div class="card-content">
          <ul>
            <% question.answers.each do |answer| %>
            <li style="list-style:none;">
              <div class="radio">
                <label>
                  <%= radio_button_tag 'answer_id', answer.id %>
                  <%= answer.description %>
                </label>
              </div>
            </li>
            <% end %>
            <li style="list-style:none">
              <%= form.submit "Confirm", class:"btn btn-success" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="d-flex justify-content-center">
  <%= paginate @questions %>
</div>
