<div class="container-fluid">
  <%= form_with url: users_backoffice_search_path, local: true, class: "d-flex flex-column flex-md-row navbar-form ms-auto mb-3", method: :get do |form| %>
    <div class="form-group me-2 flex-grow-1">
      <%= form.text_field :term, class: "form-control", placeholder: "Type to search..." %>
    </div>
    <div class="form-group me-2 flex-grow-1">
      <%= form.select :subject_id, options_for_select(Subject.all.collect { |s| [s.description, s.id] }, selected: params[:subject_id]), { include_blank: 'Choose a subject' }, class: "form-select" %>
    </div>
    <button type="submit" class="btn btn-success my-2 my-sm-0">Search</button>
  <% end %>
  
  <div class="row">
    <div class="col-12">
      <% @questions.each do |question| %>
        <% if flash[:alert] %>
          <div class="alert alert-danger" role="alert">
            <%= flash[:alert] %>
          </div>
        <% end %>
        <%= form_with url: users_backoffice_answer_path, local: true, data: { turbo: false } do |form| %>
          <div class="card mb-4">
            <div class="card-header">
              <h3 class="card-title">
                <span class="badge bg-info">
                  <%= "#{question.subject.description} (#{question.subject.questions.count})" %>
                </span>
                <%= question.description %>
              </h3>
            </div>
            <div class="card-body">
              <div class="card-content">
                <ul class="list-unstyled mb-0">
                  <% question.answers.each do |answer| %>
                  <li class="d-flex align-items-center">
                    <div class="form-check">
                      <%= radio_button_tag 'answer_id', answer.id, false, class: "form-check-input" %>
                      <label class="form-check-label">
                        <%= answer.description %>
                      </label>
                    </div>
                  </li>
                  <% end %>
                  <li>
                    <br><%= form.submit "Confirm", class: "btn btn-success", id: "submit_#{question.id}" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="pagination-wrapper">
        <%= paginate @questions %>
      </div>
    </div>
  </div>
</div>
