<section class="h-100 gradient-form">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <%= image_tag "logo.png", style: "width: 185px;", alt: "logo" %>
                  <h4 class="mt-1 mb-5 pb-1">Ruby Trivia</h4>
                </div>

                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <p>Please login to your account</p>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <%= f.email_field :email, id: "form2Example11", class: "form-control", placeholder: "Phone number or email address", autofocus: true, autocomplete: "email" %>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <%= f.password_field :password, id: "form2Example22", class: "form-control", autocomplete: "current-password" %>
                    <label class="form-label" for="form2Example22">Password</label>
                  </div>

                  <% if devise_mapping.rememberable? %>
                    <div class="form-check mb-4">
                      <%= f.check_box :remember_me, class: "form-check-input", id: "remember_me" %>
                      <label class="form-check-label" for="remember_me">Remember me</label>
                    </div>
                  <% end %>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <%= f.submit "Log in", class: "btn btn-primary btn-block fa-lg mb-3" %>
                    <%= link_to "Forgot password?", new_password_path(resource_name), class: "text-muted" %>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <%= link_to "Create new", new_registration_path(resource_name), class: "btn btn-outline-danger" %>
                  </div>

                  <div class= text-center>
                  <%= link_to "Back to home page", site_home_index_path, class: "text-muted" %>
                  </div>

                <% end %>
              </div>
            </div>

            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4" style="position: relative;">
                <h4 class="mb-4">We are the DevThree Team!</h4>
                <p class="small mb-0" style="font-size: 1.0em;">
                  This application was developed by DevThree. If you want to know more about us, please check out our site
                  <%= link_to "www.devthree.com.br", "http://www.devthree.com.br", target: "_blank", class: "devthree-link" %> <br>
                </p>
                <%= image_tag "logo_b_devthree.png", style: "width: 160px; position: absolute; bottom: -250px; right: -10px;", alt: "DevThree Logo" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
