<!DOCTYPE html>
<html>
<head>
  <title>Ruby Trivia - ADMIN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag "jquery" %>

</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand">RubyTrivia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        
        <!-- Login links aligned to the right -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to users_backoffice_home_index_path, class: "btn btn-outline-info my-2 my-sm-0 me-2" do %>
              <%= t('Login') %>
            <% end %>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <%= yield %>
  </div>

</body>
</html>
