<div class="bd-example">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Updated At</th>
        <th>
          <%= link_to new_admins_backoffice_subject_path, class: "btn btn-success" do %>
            <i class="bi bi-plus-circle"></i>
          <% end %> 
        </th>
      </tr>
    </thead>
    <tbody>
      <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.id %></td>
        <td><%= subject.description %></td>
        <td><%= subject.updated_at %></td>
        <td style="width: 100px">
          <%= link_to edit_admins_backoffice_subject_path(subject.id), class: "btn btn-primary btn-circle me-2" do %>
            <i class="bi bi-pencil fs-6"></i>
          <% end %>
          <%= button_to admins_backoffice_subject_path(subject.id), method: :delete, class: "btn btn-danger btn-circle", data: { confirm: "Are you sure you want to delete this subjectistrator?" } do %>
            <i class="bi bi-trash-fill fs-6"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <%= paginate @subjects %>
  </div>
</div>